@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-color: #262118;
  --second-bg-color: #595248;
  --text-color: #fff;
  --main-color: #A51E1E;
}

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
}

.app {
  background: var(--main-color);
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.app h1 {
  font-weight: 25px;
  color: var(--text-color);
  font-weight: 600;
  border-bottom: 1px solid var(--second-bg-color);
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: var(--second-bg-color);
  font-weight: 600;
}

.btn {
  background: var(--main-color);
  color: var(--text-color);
  font-weight: 500;
  width: 100%;
  border: 1px solid var(--second-bg-color);
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover{
  background: var(--second-bg-color);
  color: var(--text-color);
}

#next-btn{
  background: var(--bg-color);
  color: var(--text-color);
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
}